<h1>Password Generator</h1>

<label for="length">Enter length</label>
<input (input)="onChangeLength($event.target.value)" id="length" type="text" />

<div>
  <label for="letters">Use Letters</label>
  <input
    name="letters"
    id="letters"
    type="checkbox"
    (change)="onChangeCheckbox($event)"
  />
</div>

<div>
  <label for="numbers">Use Numbers</label>
  <input
    name="numbers"
    id="numbers"
    type="checkbox"
    (change)="onChangeCheckbox($event)"
  />
</div>

<div>
  <label for="symbols">Use Symbols</label>
  <input
    name="symbols"
    id="symbols"
    type="checkbox"
    (change)="onChangeCheckbox($event)"
  />
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="
      !(
        length &&
        (checkboxes.letters || checkboxes.numbers || checkboxes.symbols)
      )
    "
  >
    Generate
  </button>
</div>

<div>
  <label for="your-password">Your Password</label>
  <input type="text" id="your-password" [value]="password" />
</div>
