<h1>Password Generator</h1>

<label for="length">Enter length</label>
<input id="length" type="text" />

<div>
  <label for="use-letters">Use Letters</label>
  <input id="use-letters" type="checkbox" />
</div>

<div>
  <label for="use-numbers">Use Numbers</label>
  <input id="use-numbers" type="checkbox" />
</div>

<div>
  <label for="use-symbols">Use Symbols</label>
  <input id="use-symbols" type="checkbox" />
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="your-password">Your Password</label>
  <input type="text" id="your-password" [value]="password" />
</div>

{{ password }}
